@import "./variables.scss";
@import "./mixins.scss";
@import url('https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i');

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  position: relative;
  font-family: "Poppins";
}

.gs-body-wrapper {
  padding: 40px;
  p {
    color: $black;
    font: {
      size: 14px;
      weight: 400;
    }
  }
}

//FLEX
.flex {
  display: flex;
  &.row {
      flex-direction: row;
      &.center {
          justify-content: center;
          align-content: center;
          align-items: center;
      }
      &.start {
          justify-content: flex-start;
          align-content: center;
          align-items: center;
      }
      &.end {
          justify-content: flex-end;
          align-content: center;
          align-items: center;
      }
      &.between {
          justify-content: space-between;
          align-content: center;
          align-items: center;
      }
      &.around {
          justify-content: space-around;
          align-content: center;
          align-items: center;
      }
  }
  &.col {
      flex-direction: column;
      &.center {
          align-items: center;
          justify-content: center;
      }
      &.start {
          align-items: flex-start;
          justify-content: flex-start;
      }
      &.end {
          align-items: flex-end;
          justify-content: flex-start;
      }
  }
}
