$color-1: #7e27d8; 
$color-2: #217be7;
$color-3: #1d274e;
$color-4: #f50f78;
$color-5: #f9f8ff;
$color-6: #656565;
$success: #11BC95;
$danger: #cd1a35;
$gocloud: #009ada;
$black: #2d2d2d;
$white: #ffffff;


//BRANDS
$fb: #3b5998;
$tw: #1da1f2;
$li: #0077b5;

//BREAKPOINTS
$xs: "(max-width: 340px)";
$sm: "(max-width: 767px)";
$md: "(max-width: 991px)";
$lg: "(max-width: 1199px)";
$xl: "(min-width: 1600px)";
$xs-abs: "(min-width: 0px) and (max-width: 339px)";
$sm-abs: "(min-width: 340px) and (max-width: 767px)";
$md-abs: "(min-width: 768px) and (max-width: 991px)";
$lg-abs: "(min-width: 992px) and (max-width: 1199px)";
$screen-limit: "(min-width: 1600px)";